.product-card {
    background-color: #555;
    width: 350px;
    height: 213px;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:flex-start;
    margin-right: 16px;
    margin-bottom: 16px;

    
}
.product-card img{
    height: 213px;
    width: 150px;
    margin-right: 8px;
  
   
    
}
#root{
    display: flex;
    flex-direction: row;
   
}

ul{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
}
.title{
    font-size: 0.8em;
   

}